<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="product/layout::head"></head>
<body>
<div class = container>

    <div class = container>
        <h2>Product List</h2>
        <div class="row">
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="/products/create"><button class="btn btn-primary me-md-2" type="button"><i class="fas fa-plus"></i> Add new product</button></a>
                </div>
            </div>
            <div class="col">
                <form action="/products/" method="post">

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="text" class=" me-md-2" placeholder="Search" name="q">
                        <button class="btn btn-primary" ><i class="fas fa-search"></i> Search</button>
                    </div>
                </form>
            </div>
            <form action="/products/search"><br>
                 <div class="input-group mb-3">
                    <input type="number" class="form-control" name="min" placeholder="input Min value">
                    <span class="input-group-text">to</span>
                    <input type="number"  class="form-control" name="max" placeholder="input Max value">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">Search</button>
                </div>

            </form>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <i class="far fa-list-alt"></i> Product List
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <table class = "table table-bordered" >
                        <thead>
                        <th class="text-center">#</th>
                        <th class="text-center">ID</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Price</th>

                        <th class="text-center">Description</th>
                        <th class="text-center">Image</th>
                        <th class="text-center">Category</th>
                        <th colspan="2" class="text-center">Action</th>
                        </thead>
                        <tbody>
                            <tr th:each="product,state: ${products}">
                                <td class="align-middle text-center" th:text=" ${state.count}"></td>
                                <td class="align-middle text-center" th:text="${product.id}"></td>
                                <td class="align-middle text-center"><a th:href="@{/products/__${product.id}__}"  th:text="${product.name}"></a></td>
                                <td class="align-middle text-center" th:text="${product.price}"></td>
                                <td class="align-middle text-center" th:text="${product.description}"></td>
                                <td class="align-middle text-center"> <img th:src="@{/image/__${product.image}__}" alt="" height="80px"></td>
                                <td class="align-middle text-center" th:text="${product?.category?.name}"> </td>
                                <td class="align-middle text-center"><a th:href="@{/products/edit/__${product.id}__}"><button type="button" class="btn btn-primary"> <i class="far fa-edit"></i> Edit</button></a></td>
                                <td class="align-middle text-center "><a th:href="@{/products/delete/__${product.id}__}"><button type="button" class="btn btn-danger"><i class="fas fa-eraser"></i> Delete</button></a></td>
                            </tr>
                        </tbody>


                    </table>
                </blockquote>
            </div>
        </div>
        <br>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link"  th:href="@{'/products'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a></li>
                <li class="page-item"><a class="page-link"  th:text="${products.number + 1}"></a></li>
                <li class="page-item"><a class="page-link"  th:href="@{'/products'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a></li>
            </ul>
        </nav>

<!--    <div>-->
<!--        <a th:href="@{'/products'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>-->
<!--        <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>-->
<!--        <a th:href="@{'/products'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>-->
<!--    </div>-->
    </div>
</div>

<!--<form action="/products/">-->
<!--    <input type="text" name="q" placeholder="Search">-->
<!--    <button>Search</button>-->
<!--</form>-->
<!--<br>-->
<!--<form action="/products/search">-->
<!--    <input type="number" name="min" placeholder="input Min value">-->
<!--    <input type="number" name="max" placeholder="input Max value">-->
<!--    <button>Search</button>-->
<!--</form>-->

<!--<table>-->
<!--    <tr>-->
<!--        <td>ID</td>-->
<!--        <td>Name</td>-->
<!--        <td>Price</td>-->
<!--        <td>Description</td>-->
<!--        <td>Image</td>-->
<!--        <td>Category</td>-->
<!--        <td></td>-->
<!--        <td></td>-->
<!--    </tr>-->
<!--    <tr th:each="product: ${products}">-->
<!--        <td th:text="${product.id}"></td>-->
<!--        <td><a th:href="@{/products/__${product.id}__}"  th:text="${product.name}"></a></td>-->
<!--        <td th:text="${product.price}"></td>-->
<!--        <td th:text="${product.description}"></td>-->
<!--        <td><img th:src="@{/image/__${product.image}__}" alt="" height="18px"></td>-->
<!--        <td th:text="${product.?category?.name}"></td>-->
<!--        <td><a th:href="@{/products/edit/__${product.id}__}">Edit</a></td>-->
<!--        <td><a th:href="@{/products/delete/__${product.id}__}">Delete</a></td>-->
<!--    </tr>-->
<!--</table>-->

<footer th:replace="product/layout::footer"></footer>
</body>
</html>